*{
    margin: 4px;
    padding: 0px;
    text-decoration: none;
}

label{
    display: block;
}

.info-rentability-div{
    display: inline;
}

#left-display{
    display: block;
}

#first-left-display{
    display: block;    
}

#second-left-display{
    display: none;
}
